{% extends 'core/base.html' %}

{% block content %}
<div class="flex flex-wrap gap-4 p-4 justify-center ">
    <!-- Statistics Cards -->
    <div class="bg-purple-500  flex flex-col items-center h-44 w-full sm:w-60 md:w-52 lg:flex-1 2xl:flex-1 rounded-md">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 mt-3">
                <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
                <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
              </svg>
              
           </div>
        <p class="text-white mt-2 font-bold text-3xl">1</p>
        <p class="text-white text-2xl">Staff</p>
    </div>
    <div class="bg-blue-500  flex flex-col items-center h-44 w-full sm:w-60 md:w-52 lg:flex-1 2xl:flex-1 rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 mt-3">
            <path fill-rule="evenodd" d="M1.5 9.832v1.793c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875V9.832a3 3 0 0 0-.722-1.952l-3.285-3.832A3 3 0 0 0 16.215 3h-8.43a3 3 0 0 0-2.278 1.048L2.222 7.88A3 3 0 0 0 1.5 9.832ZM7.785 4.5a1.5 1.5 0 0 0-1.139.524L3.881 8.25h3.165a3 3 0 0 1 2.496 1.336l.164.246a1.5 1.5 0 0 0 1.248.668h2.092a1.5 1.5 0 0 0 1.248-.668l.164-.246a3 3 0 0 1 2.496-1.336h3.165l-2.765-3.226a1.5 1.5 0 0 0-1.139-.524h-8.43Z" clip-rule="evenodd" />
            <path d="M2.813 15c-.725 0-1.313.588-1.313 1.313V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-1.688c0-.724-.588-1.312-1.313-1.312h-4.233a3 3 0 0 0-2.496 1.336l-.164.246a1.5 1.5 0 0 1-1.248.668h-2.092a1.5 1.5 0 0 1-1.248-.668l-.164-.246A3 3 0 0 0 7.046 15H2.812Z" />
          </svg>
          
        <p class="text-white mt-2 font-bold text-3xl">34</p>
        <p class="text-white text-center text-2xl">Registered Patients</p>
    </div>
    <div class="bg-orange-500 flex flex-col items-center h-44 w-full sm:w-60 md:w-52 lg:flex-1 2xl:flex-1 rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 mt-3">
            <path fill-rule="evenodd" d="M19.5 21a3 3 0 0 0 3-3V9a3 3 0 0 0-3-3h-5.379a.75.75 0 0 1-.53-.22L11.47 3.66A2.25 2.25 0 0 0 9.879 3H4.5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h15Zm-6.75-10.5a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V10.5Z" clip-rule="evenodd" />
          </svg>
          
        <p class="text-white mt-2 font-bold text-3xl">28</p>
        <p class="text-white text-center text-2xl">New Patients <br> (This Week)</p>
    </div>
    <div class="bg-red-400  flex flex-col items-center h-44 w-full sm:w-60 md:w-52 lg:flex-1 2xl:flex-1 rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 mt-3">
            <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375ZM6 12a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V12Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 15a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V15Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 18a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V18Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
          </svg>
          
        <p class="text-white mt-2 font-bold text-3xl">4</p>
        <p class="text-white text-center text-2xl">Lab Tests <br> (This Week)</p>
    </div>
</div>

<div class="flex flex-wrap gap-4 justify-center p-4">
    <!-- Weekly Performance Graph -->
    <div class="lg:flex-1 lg:w-2/3 xl:w-1/2 bg-white p-4 rounded shadow-lg mb-4">
        <h1 class="text-2xl font-bold mb-3">Weekly Performance</h1>
        <canvas id="patientdeatils" class="w-full h-80"></canvas>
    </div>

    <!-- Calendar -->
    <div class="lg:flex-1 lg:w-1/3 xl:w-1/4 bg-white p-4 rounded shadow-lg">
        <h1 id="calendar-title" class="text-xl font-bold text-center mb-2"></h1>
        <table class="w-full text-center border-collapse">
            <thead>
                <tr>
                    <th class="p-1 border border-gray-300">Sun</th>
                    <th class="p-1 border border-gray-300">Mon</th>
                    <th class="p-1 border border-gray-300">Tue</th>
                    <th class="p-1 border border-gray-300">Wed</th>
                    <th class="p-1 border border-gray-300">Thu</th>
                    <th class="p-1 border border-gray-300">Fri</th>
                    <th class="p-1 border border-gray-300">Sat</th>
                </tr>
            </thead>
            <tbody id="calendar-body"></tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const today = new Date();
        const currentYear = today.getFullYear();
        const currentMonth = today.getMonth();

        function generateCalendar(year, month) {
            const firstDay = new Date(year, month, 1);
            const lastDay = new Date(year, month + 1, 0);
            const firstDayIndex = firstDay.getDay();
            const lastDate = lastDay.getDate();

            const calendarTitle = document.getElementById('calendar-title');
            const calendarBody = document.getElementById('calendar-body');

            calendarTitle.innerText = `${year} - ${month + 1}`;

            calendarBody.innerHTML = '';

            let date = 1;
            for (let i = 0; i < 6; i++) {
                let row = document.createElement('tr');

                for (let j = 0; j < 7; j++) {
                    let cell = document.createElement('td');
                    cell.className = "p-2 border border-gray-300 text-sm";

                    if (i === 0 && j < firstDayIndex) {
                        cell.innerHTML = '';
                    } else if (date > lastDate) {
                        break;
                    } else {
                        cell.innerHTML = date;
                        if (date === today.getDate() &&
                            year === today.getFullYear() &&
                            month === today.getMonth()) {
                            cell.classList.add('bg-yellow-300', 'font-bold');
                        }
                        date++;
                    }
                    row.appendChild(cell);
                }
                calendarBody.appendChild(row);

                if (date > lastDate) {
                    break;
                }
            }
        }

        generateCalendar(currentYear, currentMonth);
    });
</script>
{% endblock %}
