{% extends 'core/base.html' %}

{% block content %}
<div class="bg-gray-100 dark:bg-gray-900">
    <form action="." method="POST" class="p-8">
        {% csrf_token %}
        <div class="flex p-3 mt-0">
            <p class="text-3xl">Add User</p>
            <a href="{% url 'account:viewusers' %}" class="ml-auto rounded bg-green-600 p-3 text-white hover:bg-green-700">View Users</a>
        </div>
        <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md border dark:border-gray-700">
            <!-- User Details -->
            <div class="mb-6">
                <h2 class="text-xl font-semibold text-gray-700 dark:text-white mb-2">User Details</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="name" class="block text-gray-700 dark:text-white mb-1">Full Name</label>
                        <input type="text" id="name" name="name" required class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-4">
                    <div>
                        <label for="phone" class="block text-gray-700 dark:text-white mb-1">Phone</label>
                        <input type="tel" id="phone" name="phone" required class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-4">
                    <div>
                        <label for="role" class="block text-gray-700 dark:text-white mb-1">Role</label>
                        <input type="text" id="role" name="role" required class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-4">
                    <div>
                        <label for="email" class="block text-gray-700 dark:text-white mb-1">Email Address</label>
                        <input type="email" id="email" name="email" required class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-4">
                    <div>
                        <label for="password" class="block text-gray-700 dark:text-white mb-1">Password</label>
                        <input type="password" id="password" name="password" required class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-4">
                    <div>
                        <label for="confirm-password" class="block text-gray-700 dark:text-white mb-1">Confirm Password</label>
                        <input type="password" id="confirm-password" name="confirm-password" required class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>
            </div>
            <div class="mt-5 flex">
                <button type="submit" class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-teal-700 dark:bg-teal-600 dark:hover:bg-teal-900">Add User</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

