{% extends 'core/base.html' %}

{% block content %}
<div class="bg-gray-100">

    <form action="." method="POST" class="p-8">
        {% csrf_token %}
        <div class="flex p-3">
            <p class="text-3xl">Account Details</p>
            <a href="{% url 'account:adduser' %}" class="ml-auto rounded bg-green-600 p-3">Add User</a>
        </div>
        
        <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md border dark:border-gray-700">
         
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Role
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Created
                        </th>
                        <th scope="col" class="px-6 py-3">
                            
                        </th>
       
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ user.name }} 
                        </th>
                        <td class="px-6 py-4">
                            {{ user.email }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.phone }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.role }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.date_joined }}
                        </td>
            
                        <td class="px-6 py-4">
                            <button type="submit" class="bg-blue-800 p-3 text-white rounded7">Update</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="px-6 py-4 text-center">No biodata available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            


        </div>
    </form>
</div>


{% endblock %}