{% load widget_tweaks %}
<form id="serviceForm" method="post" action="{% url 'patients:createprovidedservice' %}">
    {% csrf_token %}
    <input id="patientId" name="patient_id" type="hidden">
   
    <div class="flex mb-2">
        <label for="password" class="w-40 text-sm font-medium text-gray-900 dark:text-white">Category</label>
        {% render_field form.category class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-72 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %}
    </div>
    <div class="flex mb-2">
        <label for="password" class="w-40 text-sm font-medium text-gray-900 dark:text-white">Service</label>
        {% render_field form.service class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-72 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %}
    </div>
    <div class="flex mb-2">
        <label for="password" class="w-40 text-sm font-medium text-gray-900 dark:text-white">Charge</label>
        {% render_field form.cost class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-72 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %}
    </div>
    
        <div>
            
            <button type="button" class="close-modal bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">Cancel</button>
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save</button>
        </div>
    
</form>

<script>
$('#id_category').change(function() {
    var category_id = $(this).val();
    $.ajax({
        url: '{% url "patients:load_services" %}',
        data: {
            'category_id': category_id
        },
        dataType: 'json',
        success: function(data) {
            var $service = $('#id_service');
            $service.empty();  
            if (data.services) {
                $.each(data.services, function(index, service) {
                    $service.append($('<option>', {
                        value: service.id,
                        text: service.service
                    }));
                });
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error('AJAX request failed:', textStatus, errorThrown);
        }
    });
});
</script>
    