
{% extends 'core/base.html' %}

{% load widget_tweaks %}

{% block content %}

<form action="." method="POST">
    {% csrf_token %}
    <div class="bg-white shadow-lg rounded-md pb-5 pt-3">
        
        <div class="flex justify-between shadow-sm mb-3 p-2">
            <p class="p-3 text-gray-900 font-bold">Add Drug Category</p>
            <a href="{% url 'patients:getdrugcategory' %}" class="bg-blue-800 text-white p-3 rounded-md">View Category</a>
        </div>
        <div class="p-3">
        <div class="flex mb-2">
            <label for="password" class="w-40 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            {% render_field form.category class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-72 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %}
        </div>
        <div class="flex">
            <label for="password" class="w-40 text-sm font-medium text-gray-900 dark:text-white"></label>
            <button
            class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-teal-700 dark:bg-teal-600 dark:text-white dark:hover:bg-teal-900"
            type="submit">Save category
          </button>

        </div>
    </div>
    </div>
</form>



{% endblock %}